<video *ngIf="showVideo()" [srcObject]="mediaStream" volume='0' autoplay [muted]="'muted'">
</video>

<div *ngIf="position" class="position">{{helper.toEmoji(position)}}</div>
<div *ngIf="onVote" class="onVote">
  🙋‍♂️{{voteCount > 0 ? helper.toEmoji(voteCount):''}}
</div>
<div *ngIf="ready" class="ready">
  ✅
</div>
<div *ngIf="playerTurn" class="playerTurn">
  🎤
</div>
<div *ngIf="voteChoise" class="voteChoise">
  👉{{helper.toEmoji(voteChoise)}}
</div>
<div (click)='putOnVoteEmit.emit()' *ngIf="canPutOnVote()" class="button">
  Put On Vote
</div>

<div (click)="checkPlayer.emit()" *ngIf="canCheckPlayer" class="button">
  Check Player
</div>
<div class="name">
  {{name}}
</div>

<div *ngIf="putOnVote?.showAnimation" class="putOnVote">
 👩‍⚖️{{helper.toEmoji(putOnVote?.hasPutOnVote)}}
</div>
