<form *ngIf="!hasName()" class="joinRoom" [formGroup]="form" (submit)="joinRoom()">
    <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput type="text" formControlName="playerName">
    </mat-form-field>
    <button [disabled]="form.invalid" type="submit">Join</button>
</form>
<div class="players">
    <div class="emptySpace">

    </div>
    <ng-container *ngIf="gameData?.players">
        <app-player-card *ngFor="let item of gameData?.players" [ready]="item.isReady" [position]="item.position"
            [ngStyle]="{'order': item.position}" [onVote]="item.isOnVote" [voteCount]="item.voteCount"
            [voteChoise]="item.voteChoise" [playerTurn]="gameData?.currentTurn === item.position">
        </app-player-card>
    </ng-container>

    <app-player-card *ngIf="gameData" [ready]="gameData.player.isReady" [position]="gameData.player.position"
        [ngStyle]="{'order': gameData.player.position}" [onVote]="gameData.player.isOnVote"
        [voteCount]="gameData.player.voteCount" [voteChoise]="gameData.player.voteChoise"
        [playerTurn]="gameData?.currentTurn === gameData.player.position" [mediaStream]="myStream">
    </app-player-card>

</div>
<button (click)="ready()">Ready</button>

