<form
  *ngIf="!hasName()"
  class="joinRoom"
  [formGroup]="form"
  (submit)="joinRoom()"
>
  <mat-form-field appearance="fill">
    <mat-label>Enter your name</mat-label>
    <input matInput type="text" formControlName="playerName" />
  </mat-form-field>
  <button [disabled]="form.invalid" type="submit">Join</button>
</form>
<div class="players">
  <div class="emptySpace">
    <ng-container [ngSwitch]="gameData?.gameState">
      <div *ngSwitchCase="gameState.MafiaMeet">Mafia meeting...⏳</div>
      <div *ngSwitchCase="gameState.DetectiveCheck">
        Detective checking...⏳
      </div>
      <div *ngSwitchCase="gameState.DonCheck">Don checking...⏳</div>
      <div
        *ngIf="
          rtc.counter !== -1 &&
          (gameData?.gameState === gameState.Vote ||
            gameData?.gameState === gameState.SecondVote)
        "
      >
        ⏳ {{ helper.toEmoji(rtc.counter) }} voting for
        {{ gameData?.votingFor }}
      </div>
      <div
        *ngIf="
          rtc.counter !== -1 && gameData?.gameState === gameState.VoteToHang
        "
      >
        ⏳ {{ helper.toEmoji(rtc.counter) }} voting for HANG}
      </div>
    </ng-container>
    <app-button *ngIf="showMafiaReadyButton()" (click)="mafiaReady()"
      >Mafia ready</app-button
    >
    <app-button
      *ngIf="gameData?.gameState === gameState.Lobby"
      (click)="ready()"
      >Ready</app-button
    >
    <app-button
      *ngIf="gameData?.gameState === gameState.Day && isCurrentTurn()"
      (click)="nextTurn()"
      >End turn
    </app-button>
    <app-button
      *ngIf="gameData?.gameState === gameState.MafiaShoot && isMafia()"
      (click)="shoot(shootPosition)"
    >
      {{ helper.toEmoji(shootPosition) }} 🔫</app-button
    >
    <app-button (click)="onVote(gameData!.votingFor)" *ngIf="canPlayerVote()">
      Vote
    </app-button>
  </div>
  <ng-container *ngIf="gameData?.players">
    <ng-container *ngFor="let item of getContent(gameData?.players)">
      <ng-container [ngSwitch]="item.type">
        <app-player-card
        aTilt
          *ngSwitchCase="'player'"
          [ready]="item.isReady"
          [position]="item.position"
          [ngStyle]="{ order: getOrder(item.position) }"
          [onVote]="item.isOnVote"
          [voteCount]="item.voteCount"
          [votedFor]="item.votedFor"
          [hasVoted]="item.hasVoted"
          [playerTurn]="
            gameData?.currentTurn === item.position &&
            gameData?.currentTurn !== 0
          "
          [mediaStream]="item.mediaStream"
          [name]="item.name"
          [gameState]="gameData?.gameState"
          [role]="item.role"
          [canCheckPlayer]="canCheckPlayer()"
          [alive]="item.alive"
          [canPlayerPutOnVote]="canPlayerPutOnVote()"
          [putOnVote]="item.putOnVote"
          (checkPlayer)="onPlayerCheck(item.position)"
          (putOnVoteEmit)="onPutOnVote(item.position)"
          (voteEmit)="onVote(item.position)"
        >
        </app-player-card>
        <div *ngSwitchCase="'empty'" [ngStyle]="{ order: getOrder(item.position) }"></div>
      </ng-container>
    </ng-container>
  </ng-container>

  <app-player-card
  aTilt
    *ngIf="gameData?.player as item"
    [ready]="item.isReady"
    [position]="item.position"
    [ngStyle]="{ order: getOrder(item.position) }"
    [onVote]="item.isOnVote"
    [voteCount]="item.voteCount"
    [votedFor]="item.votedFor"
    [playerTurn]="
      gameData?.currentTurn === item.position && gameData?.currentTurn !== 0
    "
    [mediaStream]="myStream"
    [gameState]="gameData?.gameState"
    [role]="item.role"
    [alive]="item.alive"
    [putOnVote]="item.putOnVote"
  >
  </app-player-card>
</div>
