<form *ngIf="!hasName()" class="joinRoom" [formGroup]="form" (submit)="joinRoom()">
    <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput type="text" formControlName="playerName">
    </mat-form-field>
    <button [disabled]="form.invalid" type="submit">Join</button>
</form>
<div class="players">
    <div class="emptySpace">
        <ng-container [ngSwitch]="gameData?.gameState">
            <div *ngSwitchCase="gameState.MafiaMeet">
                Mafia meeting...⏳
            </div>
            <div *ngSwitchCase="gameState.DetectiveCheck">
              Detective checking...⏳
          </div>
          <div *ngSwitchCase="gameState.DonCheck">
            Don checking...⏳
        </div>
        </ng-container>
        <app-button *ngIf="showMafiaReadyButton()" (click)="mafiaReady()">Mafia ready</app-button>
        <app-button *ngIf="gameData?.gameState === gameState.Lobby" (click)="ready()">Ready</app-button>
        <app-button
            *ngIf="gameData?.gameState === gameState.Day && isCurrentTurn()"
            (click)="nextTurn()">End turn</app-button>
            <app-button
            *ngIf="gameData?.gameState === gameState.MafiaShoot && isMafia()"
            (click)="shoot(shootPosition)">{{helper.toEmoji(shootPosition)}} 🔫</app-button>

    </div>
    <ng-container *ngIf="gameData?.players">
        <app-player-card *ngFor="let item of gameData?.players" [ready]="item.isReady" [position]="item.position"
            [ngStyle]="{'order': item.position}" [onVote]="item.isOnVote" [voteCount]="item.voteCount"
            [voteChoise]="item.voteChoise"
            [playerTurn]="gameData?.currentTurn === item.position && gameData?.currentTurn !==0 "
            [mediaStream]="item.mediaStream" [name]="item.name" [gameState]="gameData?.gameState" [role]="item.role"
            [canCheckPlayer]="canCheckPlayer()" [canPlayerPutOnVote]="canPlayerPutOnVote()" (click)="onPlayerClick(item.position)" [alive]="item.alive">
        </app-player-card>
    </ng-container>

    <app-player-card *ngIf="gameData" [ready]="gameData.player.isReady" [position]="gameData.player.position"
        [ngStyle]="{'order': gameData.player.position}" [onVote]="gameData.player.isOnVote"
        [voteCount]="gameData.player.voteCount" [voteChoise]="gameData.player.voteChoise"
        [playerTurn]="gameData?.currentTurn === gameData.player.position && gameData?.currentTurn !==0"
        [mediaStream]="myStream" [gameState]="gameData?.gameState" [role]="gameData.player.role" [alive]="gameData.player.alive">
    </app-player-card>

</div>
